<ion-menu contentId="main-content" class="menuLateral">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-button [routerLink]="['eventos']"><ion-icon name="reorder-four"></ion-icon>Eventos</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['agregar-evento']"><ion-icon slot="start" name="add-circle"></ion-icon>Agregar Evento</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['modificar-evento']"><ion-icon slot="start" name="sync-circle"></ion-icon>Modificar Evento</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['eliminar-evento']"><ion-icon slot="start" name="close-circle"></ion-icon>Eliminar Evento</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['dependencias']"><ion-icon name="reorder-four"></ion-icon>Dependencias</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['agregar-dependencia']"><ion-icon slot="start" name="add-circle"></ion-icon>Agregar Dependencia</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['modificar-dependencia']" ><ion-icon slot="start" name="sync-circle"></ion-icon>Modificar Dependencia</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['eliminar-dependencia']"><ion-icon slot="start" name="close-circle"></ion-icon>Eliminar Dependencia</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['recintos']"><ion-icon name="reorder-four"></ion-icon>Recintos</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['agregar-recinto']"><ion-icon slot="start" name="add-circle"></ion-icon>Agregar Recinto</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['modificar-recinto']"><ion-icon slot="start" name="sync-circle"></ion-icon>Modificar Recinto</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['eliminar-recinto']"><ion-icon slot="start" name="close-circle"></ion-icon>Eliminar Recinto</ion-button>
      </ion-item>
      
    </ion-list>
  </ion-content>
</ion-menu>